<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/favorite">Favorite Data</a>
  </div>
  <div class="button">
    <button type="button" class="btn btn-light" routerLink="/">Home</button>
  </div>
</nav>

<br>
<div class="container">
  <h2>List of all the Favorite Planets</h2>
  <div class="row"> 
    <ul class="list-group">
      <div></div>
      <li class="list-group-item" *ngFor="let data of FavData">
        {{data.name}}
      </li>
    </ul>
  </div>
</div>